/* Settings pages */
.sidebar__23e6b [data-tab-id].item_b3f026 {
    display: flex;
    gap: 12px;
    padding-left: 12px;
    align-items: center;
}
.sidebar__23e6b [data-tab-id].item_b3f026:before {
    position: relative;
    content: " ";
    width: 20px;
    height: 20px;
    background-color: var(--interactive-normal);
    mask-size: 100%;
    opacity: 0.8;
}
.sidebar__23e6b [data-tab-id="My Account"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/myaccount.svg); 
}
.sidebar__23e6b [data-tab-id="Profile Customization"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/profiles.svg); 
}
.sidebar__23e6b [data-tab-id="Content & Social"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/userplus.svg); 
}
.sidebar__23e6b [data-tab-id="Data & Privacy"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/privacy.svg); 
}
.sidebar__23e6b [data-tab-id="Family Center"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/users.svg); 
}
.sidebar__23e6b [data-tab-id="Authorized Apps"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/key.svg); 
}
.sidebar__23e6b [data-tab-id="Sessions"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/devices.svg); 
}
.sidebar__23e6b [data-tab-id="Connections"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/connections.svg); 
}
.sidebar__23e6b [data-tab-id="Settings Clips"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/clips.svg); 
}

.sidebar__23e6b [data-tab-id="Discord Nitro"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/nitro.svg);
}
.sidebar__23e6b .item_b3f026 svg {
    display: none;
}
.sidebar__23e6b [data-tab-id="Nitro Server Boost"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/boost.svg); 
}
.sidebar__23e6b [data-tab-id="Subscriptions"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/subscription.svg); 
}
.sidebar__23e6b [data-tab-id="Library Inventory"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/gift.svg); 
}
.sidebar__23e6b [data-tab-id="Billing"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/billing.svg); 
}

.sidebar__23e6b [data-tab-id="Appearance"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/pallete.svg); 
}
.sidebar__23e6b [data-tab-id="Accessibility"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/accessibility.svg); 
}
.sidebar__23e6b [data-tab-id="Voice & Video"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/voice.svg); 
}
.sidebar__23e6b [data-tab-id="Text & Images"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/textandimages.svg); 
}
.sidebar__23e6b [data-tab-id="Notifications"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/notifications.svg); 
}
.sidebar__23e6b [data-tab-id="Keybinds"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/keyboard.svg); 
}
.sidebar__23e6b [data-tab-id="Language"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/custom/msg_translate_filled_solar.svg); 
}
.sidebar__23e6b [data-tab-id="Windows"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/windows.svg); 
}
.sidebar__23e6b [data-tab-id="Streamer Mode"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/streamermode.svg); 
}
.sidebar__23e6b [data-tab-id="Advanced"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/settings.svg); 
}

.sidebar__23e6b [data-tab-id="Activity Privacy"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/activityprivacy.svg); 
}
.sidebar__23e6b [data-tab-id="Game Activity"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/gameactivity.svg); 
}
.sidebar__23e6b [data-tab-id="Overlay"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/overlay.svg); 
}

.sidebar__23e6b [data-tab-id="changelog"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/changelog.svg); 
}
.sidebar__23e6b [data-tab-id="merchandise"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/merch.svg); 
}
.sidebar__23e6b [data-tab-id="Hypesquad Online"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/Hypesquad.svg); 
    scale: 1.3;
    transform: translate(0px, 4px);
}

.sidebar__23e6b [data-tab-id="Experiments"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/experiments.svg); 
}
.sidebar__23e6b [data-tab-id="Developer Options"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/wrench.svg); 
}
.sidebar__23e6b [data-tab-id="Hotspot Options"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/hotspot.svg); 
}
.sidebar__23e6b [data-tab-id="Dismissible Content Options"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/document.svg); 
}
.sidebar__23e6b [data-tab-id="Payment Flow Modals"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/banknote.svg); 
}
.sidebar__23e6b [data-tab-id="Revenue Storybook"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/banknotes.svg); 
}
.sidebar__23e6b [data-tab-id="Virtual Currency Configuration"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/wallet.svg); 
}
.sidebar__23e6b [data-tab-id="Design System"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/pallete.svg); 
}
.sidebar__23e6b [data-tab-id="Text Playground"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/textplayground.svg); 
}
.sidebar__23e6b [data-tab-id="Text Component"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/textcomponent.svg); 
}
.sidebar__23e6b [data-tab-id="Intl Testing"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/custom/msg_translate_filled_solar.svg); 
}
.sidebar__23e6b [data-tab-id="Profile Effects Preview Tool"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/specialeffects.svg); 
}
.sidebar__23e6b [data-tab-id="Nameplates Preview Tool"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/nameplates.svg); 
}
.sidebar__23e6b [data-tab-id="Web Setting Tree Tool"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/globe.svg); 
}

.sidebar__23e6b [data-tab-id="logout"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/logout.svg); 
}

.sidebar__23e6b [data-tab-id="PROFILE"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/information.svg); 
}
.sidebar__23e6b [data-tab-id="OVERVIEW"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/information.svg); 
}
.sidebar__23e6b [data-tab-id="ENGAGEMENT"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/merch.svg); 
}
.sidebar__23e6b [data-tab-id="BOOST_PERKS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/boost.svg); 
}
.sidebar__23e6b [data-tab-id="EMOJI"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/emoji.svg); 
}
.sidebar__23e6b [data-tab-id="STICKERS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/sticker.svg); 
}
.sidebar__23e6b [data-tab-id="SOUNDBOARD"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/soundboard.svg); 
}
.sidebar__23e6b [data-tab-id="MEMBERS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/users.svg); 
}
.sidebar__23e6b [data-tab-id="ROLES"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/usershield.svg); 
}
.sidebar__23e6b [data-tab-id="INVITES"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/link.svg); 
}
.sidebar__23e6b [data-tab-id="INSTANT_INVITES"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/link.svg); 
}
.sidebar__23e6b [data-tab-id="ACCESS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/key.svg); 
}
.sidebar__23e6b [data-tab-id="INTEGRATIONS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/connections.svg); 
}
.sidebar__23e6b [data-tab-id="APP_DIRECTORY"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/custom/apps.svg); 
}
.sidebar__23e6b [data-tab-id="SAFETY"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/usershield.svg); 
}
.sidebar__23e6b [data-tab-id="AUDIT_LOG"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/clipboard.svg); 
}
.sidebar__23e6b [data-tab-id="BANS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/hammer.svg); 
}
.sidebar__23e6b [data-tab-id="COMMUNITY"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/community.svg); 
}
.sidebar__23e6b [data-tab-id="ONBOARDING"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/onboarding.svg); 
}
.sidebar__23e6b [data-tab-id="ANALYTICS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/analytics.svg); 
}
.sidebar__23e6b [data-tab-id="COMMUNITY_WELCOME"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/communitywelcome.svg); 
}
.sidebar__23e6b [data-tab-id="DISCOVERY_LANDING_PAGE"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/discoverylandingpage.svg); 
}
.sidebar__23e6b [data-tab-id="ROLE_SUBSCRIPTIONS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/sale.svg); 
}
.sidebar__23e6b [data-tab-id="GUILD_PRODUCTS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/ticket.svg); 
}
.sidebar__23e6b [data-tab-id="ROLE_SUBSCRIPTIONS_STORE_PAGE"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/subcriptionpage.svg); 
}
.sidebar__23e6b [data-tab-id="GUILD_PREMIUM"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/safe.svg); 
}
.sidebar__23e6b [data-tab-id="GUILD_TEMPLATES"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/template.svg); 
}
.sidebar__23e6b [data-tab-id="DELETE"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/delete.svg); 
}
.sidebar__23e6b [data-tab-id="PERMISSIONS"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/permissions.svg); 
}

/* Vencord & Equicord */
.sidebar__23e6b [data-tab-id="EquicordSettings"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/equicord.svg); 
    scale: 0.85;
}
.sidebar__23e6b [data-tab-id="settings/tabs"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/oneko.svg); 
}
.sidebar__23e6b [data-tab-id="EquicordPlugins"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/plugins.svg); 
}
.sidebar__23e6b [data-tab-id="VencordPlugins"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/plugins.svg); 
}
.sidebar__23e6b [data-tab-id="EquicordThemes"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/pallete.svg); 
}
.sidebar__23e6b [data-tab-id="VencordThemes"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/pallete.svg); 
}
.sidebar__23e6b [data-tab-id="EquicordUpdater"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/update.svg); 
}
.sidebar__23e6b [data-tab-id="VencordUpdater"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/update.svg); 
}
.sidebar__23e6b [data-tab-id="EquicordCloud"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/cloudsync.svg); 
}
.sidebar__23e6b [data-tab-id="VencordCloud"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/cloudsync.svg); 
}
.sidebar__23e6b [data-tab-id="EquicordSettingsSync"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/backupandrestore.svg); 
}
.sidebar__23e6b [data-tab-id="VencordSettingsSync"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/backupandrestore.svg); 
}
.sidebar__23e6b [data-tab-id="settings/tabsSync"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/backupandrestore.svg); 
}
.sidebar__23e6b [data-tab-id="VencordDiscordIcons"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/icons.svg); 
}
.sidebar__23e6b [data-tab-id="ThemeLibrary"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/painter.svg) !important;
    mask-size: 100% !important; 
    mask-repeat: no-repeat !important;
}
.sidebar__23e6b [data-tab-id="Vesktop"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/laptop.svg); 
}
.sidebar__23e6b [data-tab-id="Equibop"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/laptop.svg); 
}
/* OpenAsar settings - uses goosemods official logo */
.sidebar__23e6b [data-tab-id="OpenAsar"].item_b3f026:before {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/goosemod.png);
}

/* Context menus */
.menu_c1e9c4 :not(:has([class^=iconContainer_]))[id=].item_c1e9c4 {
    display: flex;
    gap: 12px;
    align-items: center;
}
.menu_c1e9c4 :not(:has([class^=iconContainer_]))[id].item_c1e9c4:after { 
    position: relative;
    display: none;
    content: " ";
    width: 20px;
    height: 20px;
    background-color: var(--interactive-normal);
    mask-size: 100%;
}
.menu_c1e9c4 [id="guild-header-popout-perm-viewer-permissions"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/permissions.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-perm-viewer-permissions"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/permissions.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="guild-header-popout-vc-server-info"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/serverinfo.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="message-copy-image"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/copy.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="message-save-image"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/download.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="message-copy-native-link"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/link.svg) ; 
    display: flex !important;
}

.menu_c1e9c4 [id="channel-context-channel-copy-link"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/link.svg) ; 
    display: flex !important;
}

.menu_c1e9c4 [id="message-open-native-link"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/open.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="message-emote-cloner"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/copy.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-clone-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/copy.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="message-ml-toggle-style"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/cursor.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="message-ml-remove-history"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/close.svg) ; 
    display: flex !important;
    background-color: var(--text-danger) !important;
}
.menu_c1e9c4 [id="user-context-vc-ml-clear-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/close.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-vc-ml-clear-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/close.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="message-favorite"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/favorite.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-favorite-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/favorite.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-mark-channel-read"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/read.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-invite-people"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/userplus.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-opt-in-favorite-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/pin.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-opt-out-category"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/close.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-edit-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/pen.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-create-text-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/add.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-delete-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/delete.svg) ; 
    background-color: var(--text-danger) !important;
    display: flex !important;
}
.menu_c1e9c4 [id="textarea-context-languages"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/custom/msg_translate_filled_solar.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-opt-into-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/minus.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="channel-context-vc-ml-clear-channel"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/close.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="guild-context-mark-folder-read"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/read.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="guild-context-folder-settings"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/settings.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="guild-context-folder-collapse"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/folderclose.svg) ; 
    display: flex !important;
}

.menu_c1e9c4 [id="user-context-user-profile"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/myaccount.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-mention"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/mention.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-message-user"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/message.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-call"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/call.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-note"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/notes.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-add-friend"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/userplus.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-ignore"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/ignore.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-block"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/block.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-mod-view"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/usershield.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-perm-viewer-permissions"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/permissions.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="user-context-set-timezone"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/compass.svg) ; 
    display: flex !important;
}

/* Vencord / Equicord toolbox */
.menu_c1e9c4 [id="vc-toolbox-vc-toolbox-notifications"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/notifications.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="vc-toolbox-vc-toolbox-quickcss"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/css.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="vc-toolbox-vc-toolbox-BadgeAPI-Refetch Badges"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/refetchbadges.svg) ; 
    display: flex !important;
}
.menu_c1e9c4 [id="vc-toolbox-vc-toolbox-IconViewer-Open Icons Tab"].item_c1e9c4:after {
    -webkit-mask-image: url(https://mudrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/icons.svg) ; 
    display: flex !important;
}

